*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1B1A1A;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0 2rem;
  text-decoration: none;
  color: #1B1A1A;
  padding: 11px 20px;
}
.btn:hover {
  color: #FFF;
  background: #1B1A1A;
  border-radius: 14px;
  cursor: pointer;
}
.partners_info {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.partner_info {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.partner_info-name span {
  color: #1B1A1A;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}
.partner_info-job span {
  color: #645C55;
  font-size: 14px;
  line-height: 14px;
}
.partner_info-img img {
  width: 84px;
  height: 84px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 0;
}
.navbar_menu {
  display: flex;
}

.main {
  display: flex;
  background: #ECE7E4;
}
.main_img {
  width: 50%;
}
.main_img img {
  width: 100%;
  height: 100%;
}
.main_text {
  padding: 120px 160px;
  width: 50%;
}
.main_text span {
  color: #645C55;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.main_text h1 {
  color: #1B1A1A;
  font-size: 64px;
  line-height: 70.4px;
  padding: 20px 0;
  font-weight: 400;
}
.main_text-subtitle {
  color: #403E3B;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}
.main_text-btn {
  color: #1B1A1A;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 40px 0;
}

.firm {
  margin: 80px 0;
}
.firm_contant {
  display: flex;
  justify-content: space-evenly;
  max-width: 750px;
  margin: 0 auto;
}
.firm_contant p {
  color: #403E3B;
}
.firm_contant_title {
  padding-right: 130px;
  display: inline-flex;
  width: 100%;
}
.firm_contant_title h2 {
  color: #403E3B;
  font-size: 32px;
  font-weight: 200;
  line-height: 38px;
}
.house {
  background: url("../img/bg.jpg") lightgray 50%/cover no-repeat;
  height: 600px;
  display: grid;
  align-items: center;
  justify-content: flex-end;
}
.house_text {
  margin-right: 70px;
}
.house_text-title {
  color: #403E3B;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.house_text-second {
  color: #645C55;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.process {
  max-width: 1200px;
  margin: 0 auto;
}
.process_contant {
  padding: 100px 0;
}
.process_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process_title span {
  color: #645C55;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.process_title p {
  color: #1B1A1A;
  text-align: center;
  font-size: 39px;
  font-weight: 200;
  line-height: 42px;
  padding-bottom: 40px;
}
.process_steps {
  display: flex;
  flex-direction: row-reverse;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
}
.step img {
  width: 100px;
  height: 100px;
}
.step span {
  padding: 15px 0 10px 0;
}
.step p {
  text-align: center;
  color: #645C55;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

.steps {
  background: url("../img/bg-steps.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: grid;
  align-items: center;
  justify-content: flex-end;
}
.steps_text {
  margin-right: 75px;
}
.steps_text span {
  color: #403E3B;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.steps_text p {
  color: #645C55;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

.costumers {
  background-color: #403E3B;
  padding: 60px 135px;
}
.costumers_container {
  max-width: 1024px;
  margin: 0 auto;
}
.costumers_contant {
  max-width: 1300px;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
}
.costumers_text {
  max-width: 460px;
  padding-right: 132px;
}
.costumers_text span {
  color: #ECE7E4;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.costumers_text h3 {
  color: #FFF;
  font-size: 32px;
  font-weight: 200;
  line-height: 38px;
}
.costumers_text p {
  color: #ECE7E4;
  font-weight: 200;
  line-height: 24px;
}
.costumers_logos {
  display: flex;
  flex-direction: column;
}
.costumers_logos img {
  padding: 50px;
}

.swirling_contant {
  background: url("../img/swirling-bg.jpg") lightgray 50%/cover no-repeat;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.swirling_text {
  padding-left: 50px;
}
.swirling_text span {
  color: #403E3B;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.swirling_text p {
  color: #645C55;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

.team_contant {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
  display: flex;
}
.team_text {
  max-width: 380px;
  padding: 10px 0 0 0;
}
.team_text span {
  color: #403E3B;
  font-size: 32px;
  font-weight: 200;
  line-height: 38px;
}
.team_text p {
  color: #645C55;
  font-size: 15px;
  font-weight: 200;
  line-height: 24px;
  padding: 15px 0 25px 0;
}
.team_partners {
  display: flex;
}

.team_partners1 {
  padding: 0 90px 0 0;
}

.touch {
  background: #CEC4BC;
}
.touch_contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}
.touch_text {
  position: relative;
}
.touch_text span {
  color: #645C55;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  bottom: 75px;
}
.touch_text p {
  color: #1B1A1A;
  font-size: 40px;
  font-weight: 200;
  line-height: 42px;
}
.touch_btn {
  color: #1B1A1A;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.projects {
  background-color: #F7F7F7;
}
.projects_contant {
  padding: 6.25em;
}

.projects_text span {
  color: #1B1A1A;
  font-size: 39px;
  font-weight: 200;
  line-height: 42px;
}

.projects_text p {
  color: #645C55;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
}

.projects_text {
  padding: 0 0 50px;
}

.projects_blocks {
  display: flex;
  justify-content: center;
}

.block {
  width: 25em;
  height: 30em;
}

.projects_block1 {
  background-image: url(../img/projects-bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.projects_block2 {
  background-image: url(../img/projects-bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2em;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0.8em;
}

.projects_block2 p {
  color: #403e3b;
  font-size: 23px;
  font-weight: 200;
  line-height: 30px;
}

.projects_block3 {
  background-image: url(../img/projects-bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.blocks_btn {
  padding: 1em 0;
}

.projects_btn {
  text-align: center;
  padding: 2em 0;
}

.footer_contant {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 100px;
}

.footer_icons {
  display: flex;
  justify-content: space-between;
}

.icon {
  padding: 0px 10px;
}/*# sourceMappingURL=style.css.map */